.header {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease;
}

.logo img {
  max-width: 150px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: auto;
}

.pages {
  position: relative;
}

.pages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pages ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

.pages ul li:last-child {
  margin-right: 0;
}

.pages a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  border-bottom: none;
}

.pages a:hover {
  color: #dc3545;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin-right: 15px;
  margin-bottom: 20px;
  color: #ff0000;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff0000;
}

.phone-number {
  color: #000000;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .pages,
  .social-icons {
    display: none;
  }

  .header {
    justify-content: center;
    text-align: center;
    height: 60px; 
  }

  .logo img {
    margin-top: 20px;
    display: block;
    width: 200px;
    height: auto;
  }
}


.mobile-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1000;
  overflow: hidden; /* Ensure icons don't overflow when scaled */
}

.mobile-tab-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-tab-bar li {
  flex: 1;
}

.icon-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #da0000; 
  transition: transform 0.2s ease;
  font-size: 21px;
}

.icon-link.active {
  color: #000000; 
}

.icon-link:hover {
  transform: translateY(-5px) scale(1.1); 
}

.icon-link span {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .mobile-tab-bar {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 550px;
  max-width: 650px;
  z-index: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out; 
  column-count: 3;
  column-gap: 20px;
}

.dropdown-content a {
  color: #000000;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}

.services-dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}