.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%; 
    background-image: url('../../img/contact/contact-1.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

.contact-info {
    width: 40%; 
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item i {
    margin-right: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    margin-right: 10px;
}

.contact-form {
    width: 60%; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 10px;
}

.contact-content {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-align: center;
}

.contact-content h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    text-align: center; 
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #000; 
}

button[type="submit"] {
    background-color: #d50000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 768px) {
    .contact-container {
        height: auto; 
        flex-direction: column; 
    }
    
    .contact-info,
    .contact-form {
        width: 80%; 
        margin-bottom: 20px; 
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 10px; 
    }
}