.feature1-container {
    padding: 30px 60px;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-heading {
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.feature-description-01 {
    font-size: 18px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.feature1-container:hover {
    box-shadow: 0 8px 16px rgb(255, 255, 255);
}
.image-container {
    flex: 1;
    margin-left: 80px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: 12px solid #ffffff;
    border-image: linear-gradient(to right, #ffffff, #000000) 1;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sections-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.section {
    display: flex;
    margin-right: 100px;
    flex-direction: column;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color: #d50000;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.icon p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.icon svg {
    font-size: 40px;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.sections-container .icon {
    animation: slideInFromLeft 0.5s ease-in-out;
}


@media (max-width: 768px) {
    .feature1-container {
        flex-direction: column;
    }

    .feature-heading {
        text-align: center;
    }

    .feature-description-01 {
        font-size: 12px;
        text-align: center;
    }
    .image-container {
        margin-left: 0;
        width: 95%;
        margin-bottom: 20px;
    }
    
    .sections-container {
        justify-content: center;
    }
    .icon svg {
        font-size: 28px;
    }
    .icon p {
        font-size: 12px;
    }
    .section {
        margin-right: 0;
    }
}
